# Lecture 3

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv('D:/Rawdata/Data Analytics with Python/Lecture 3/gapminder-FiveYearData.csv') #Imports and stores csv file in df

In [13]:
df

          country  year       pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333      Asia   28.801  779.445314
1     Afghanistan  1957   9240934      Asia   30.332  820.853030
2     Afghanistan  1962  10267083      Asia   31.997  853.100710
3     Afghanistan  1967  11537966      Asia   34.020  836.197138
4     Afghanistan  1972  13079460      Asia   36.088  739.981106
...           ...   ...       ...       ...      ...         ...
1699     Zimbabwe  1987   9216418    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [14]:
print(df.head()) #prints first 5 rows

       country  year       pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333      Asia   28.801  779.445314
1  Afghanistan  1957   9240934      Asia   30.332  820.853030
2  Afghanistan  1962  10267083      Asia   31.997  853.100710
3  Afghanistan  1967  11537966      Asia   34.020  836.197138
4  Afghanistan  1972  13079460      Asia   36.088  739.981106

In [15]:
df.head()

       country  year       pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333      Asia   28.801  779.445314
1  Afghanistan  1957   9240934      Asia   30.332  820.853030
2  Afghanistan  1962  10267083      Asia   31.997  853.100710
3  Afghanistan  1967  11537966      Asia   34.020  836.197138
4  Afghanistan  1972  13079460      Asia   36.088  739.981106

In [10]:
print(df.shape)

(1704, 6)

In [17]:
print(df.columns)

Index([' country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [19]:
print(df.dtypes)

 country      object
year           int64
pop            int64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0    country   1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   int64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [44]:
country_custom_name = df["country"] #make separate table having only country column, #There is an extra space in the country column make sure to delete that extra space.

In [45]:
country_custom_name

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [46]:
print(country_custom_name.head()) #prints first 5 rows of newly made table

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [47]:
print(country_custom_name.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [53]:
df_subset = df[["country","continent","year"]] #make another table with specified 3 Columns
print(df_subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [55]:
print(df_subset.tail()) #prints last 5 rows of df_subset

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [58]:
print(df.loc[0]) #extracts information of the first row

country      Afghanistan
year                1952
pop              8425333
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [59]:
print(df.loc[1]) #extracts information of the second row

country      Afghanistan
year                1957
pop              9240934
continent           Asia
lifeExp           30.332
gdpPercap      820.85303
Name: 1, dtype: object

In [61]:
print(df.loc[99]) #extracts information of the 100th row

country      Bangladesh
year               1967
pop            62821884
continent          Asia
lifeExp          43.453
gdpPercap    721.186086
Name: 99, dtype: object